<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HTML FORM</h2>
    <form action="/submit" method="post">
        <label for="Science">Science:</label><br>
        <input type="text" id="Science" name="Science" value="0"><br>
        <label for="Math">Math:</label><br>
        <input type="text" id="Math" name="Math" value="0"><br>
        <label for="C">C:</label><br>
        <input type="text" id="C" name="C" value="0"><br>
        <label for="datascience">Data Science:</label><br>
        <input type="text" id="datascience" name="datascience" value="0"><br>
        <input type="submit" value="Submit">
    </form>
    <p>If you click the "Submit" button, the form-data will be send to the page called"/submit"</p>
</body>
</html>